# Domain name of NextCloud
NC_HOST=nextcloud.internal
# IP Address of the NextCloud host
NC_IP=
# Domain name of Synapse
SY_HOST=chat.internal
# IP Address of the Synapse host
SY_IP=
# Domain name of Keycloak
KC_HOST=keycloak.internal
# IP Address of the Keycloak host
KC_IP=
# Name of the Database to be used within Postgres
POSTGRES_DB=
# Username for the Postgres admin
POSTGRES_USER=
# Password for the Postgres admin
POSTGRES_PASSWORD=
# Port for Keycloak to be exposed on the host
KEYCLOAK_PORT=6677
# Username of the Keycloak admin
KEYCLOAK_ADMIN=
# Password of the Keycloak admin
KEYCLOAK_ADMIN_PASSWORD=
# Domain name of Keycloak
KC_HOST=
# IP Address of the Keycloak host
KC_IP=
# Keycloak Realm
KC_REALM=
# Keycloak Client ID for Secure Web
SW_CLIENT_ID=
# Keycloak Client Secret for Secure Web
SW_CLIENT_SECRET=
# Domain name of Secure Web
SW_HOST=
# IP Address of the Secure Web server
SW_IP=
# Admin username of the openLDAP server
LDAP_ADMIN_USERNAME=
# Admin password of the openLDAP server
LDAP_ADMIN_PASSWORD=
