# Domain name of NextCloud
NC_HOST=nextcloud.internal
# IP Address of the NextCloud host
NC_IP=
# Domain name of Synapse
SY_HOST=chat.internal
# IP Address of the Synapse host
SY_IP=
# Name of the Database to be used within Postgres
POSTGRES_DB=
# Username for the Postgres admin
POSTGRES_USER=
# Password for the Postgres admin
POSTGRES_PASSWORD=
# Port for Keycloak to be exposed on the host
KEYCLOAK_PORT=6677
# Username of the Keycloak admin
KEYCLOAK_ADMIN=
# Password of the Keycloak admin
KEYCLOAK_ADMIN_PASSWORD=
