# Domain name of NextCloud
NC_HOST=nextcloud.internal
# IP Address of the NextCloud host
NC_IP=

# Domain name of Synapse
SY_HOST=chat.internal
# IP Address of the Synapse host
SY_IP=

# Name of the Database to be used within Postgres
POSTGRES_DB=
# Username for the Postgres admin
POSTGRES_USER=
# Password for the Postgres admin
POSTGRES_PASSWORD=

# Domain name of Keycloak
KC_HOST=keycloak.internal
# IP Address of the Keycloak host
KC_IP=
# Port for Keycloak to be exposed on the host
KEYCLOAK_PORT=6677
# Keycloak Realm
KC_REALM=
# Password for the trust store file created by installcerts.sh
KC_TRUST_STORE_PW=
# Username of the Keycloak admin
KEYCLOAK_ADMIN=
# Password of the Keycloak admin
KEYCLOAK_ADMIN_PASSWORD=

# Domain name of Secure Web
SW_HOST=secureweb.internal
# IP Address of the Secure Web server
SW_IP=
# Keycloak Client ID for Secure Web
SW_CLIENT_ID=
# Keycloak Client Secret for Secure Web
SW_CLIENT_SECRET=

# Admin username of the openLDAP server
LDAP_ADMIN_USERNAME=
# Admin password of the openLDAP server
LDAP_ADMIN_PASSWORD=

# Host of freeRADIUS (just for the server's certificate cn)
RD_HOST=
